node_modules
.DS_Store

/.cache
/build
/coverage
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
data/*.mmdb

.env
.env.*
!.env.example
!.env.test.example

/backups
/.runtime

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
